<html lang="pt-br">
	<head>
		<title>NOTICIA 1</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href=
		"../css/estilos.css">
	</head>
	<body>
		<h1>Ketellyn Nocera</h1>
		<h3>Nada alem da verdade</h3>
		<hr>
		<h2>Noticia 1: População do país vai parar de crescer em 2041</h2>
		<img class="imagem" src="../images/muie.jpg">
		<p>
		
		As primeiras Projeções de População do IBGE com dados do Censo Demográfico 2022, divulgadas hoje (22), estimam que a população do país vai parar de crescer em 2041, quando chegará a 220.425.299 habitantes. Esse estudo demográfico também mostra que, de 2000 para 2023, a taxa de fecundidade caiu de 2,32 para 1,57 filho por mulher, e deve recuar até 1,44 em 2040, quando atinge seu ponto mais baixo. Já a idade média da população brasileira atingiu 35,5 anos em 2023 e deve subir para 48,4 anos em 2070.

As Projeções de População do IBGE utilizam dados provenientes de diversas fontes, como os três censos demográficos mais recentes (2010, 2010 e 2022), a série histórica das Estatísticas do Registro Civil (iniciada em 1974) o Sistema de Informações sobre Mortalidade (SIM) e o Sistema de Informações sobre Nascidos Vivos (SINASC), ambos do Ministério da Saúde, entre outros. Seus cálculos permitem acompanhar a evolução dos padrões demográficos do país.


Além de servirem de parâmetro para políticas públicas nas três esferas de governo, as Projeções de População permitem que o IBGE atualize as amostras de suas pesquisas domiciliares, como a PNAD Contínua, a Pesquisa Nacional de Saúde (PNS) e a Pesquisa de Orçamentos Familiares (POF).

Para Izabel Marri, gerente de Estudos e Análises Demográficas do IBGE, “a principal importância das Projeções é informar qual é a população do país a cada ano, pois os censos demográficos ocorrem apenas a cada dez anos. Essa informação, por idade e sexo, é fundamental para se elaborar políticas públicas voltada para crianças, idosos ou para a força de trabalho. Além disso, esses dados são a base para o cálculo do Fundo de Participação dos Municípios (FPM) e dos Estados (FPE)”.

Taxa de fecundidade do país em 2023 cai para 1,57 filho por mulher

Segundo as Projeções de População 2024, a taxa de fecundidade do país era de 2,32 filhos por mulher em 2000, recuou para 1,75 filhos por mulher em 2010 e chegou a 1,57 em 2023. Nos próximos anos, essa taxa deve recuar para 1,47 em 2030 e atingir seu ponto mais baixo em 2041, chegando a 1,44 filho por mulher.

No entanto, a partir de 2050, as Projeções indicam que a taxa terá ligeiro aumento, indo a 1,45 em 2050, a 1,47 em 2060 e chegando a 1,50 em 2070. Esse indicador vem decrescendo como consequência de uma série de transformações ocorridas na sociedade brasileira desde meados do Século XX.

</p>
		<hr>
		<p class="dev-texto">Desenvolvido por: Ketellyn Nocera</p>
	</body>
</html>
		